@model List<Orders>
@{
    ViewData["Title"] = "All orders";
}
<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h4>List of all your orders</h4>
        </p>

        <table class="table">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <td>Items</td>
                    <th>Total</th>
                    <th>User</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var orders in Model)
                {
                    <tr>
                        <td class="align-middle">
                            @orders.OrderId
                        </td>
                        <td class="align-middle">
                            <ul style="list-style-type:none">
                                @foreach(var item in orders.OrderItems)
                                {
                                    <li>
                                        <div class="alert alert-info" role="alert">
                                            <span class="badge bd-success">@item.Amount</span>[@item.Price.ToString("c")] - @item.Productscategory.Name
                                        </div>
                                    </li>
                                    
                                }
                            </ul>
                        </td>
                        <td class="align-middle">
                            @orders.OrderItems.Select(m => m.Productscategory.Price * m.Amount).Sum().ToString("c")
                        </td>
                        <td class="align-middle">
                            -
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>